{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="column">
        <h1>{% trans "Sign Up" %}</h1>
    </div>
    <div class="w-100"></div>
    <div class="column">
        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
    </div>
    <div class="w-100"></div>
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        <div class="column">
            {% csrf_token %}
            {% crispy form%}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
        </div>
        <div class="w-100"></div>
        <!--<div class="column">
            <button type="submit">{% trans "Sign Up" %} &raquo;</button>
        </div>-->
    </form>
</div>

{% endblock %}
